---

const { link, caption, height} = Astro.props


---

<div class="img-component">
<img height= {height} src= {link}>
<p>{caption}</p>
</div>

<style>
.img-component {
margin-top: 20px;
/* border-color: rgb(213, 228, 213);
border-width: 10px; */
border: solid green 1px;
font-family: cursive;
display: flex;

}

</style>
